<template>
  <require from="@process-engine/bpmn-js-custom-bundle/bpmn-modeler-custom.css"></require>
  <require from="./diagram-viewer.css"></require>
  <div ref="canvasModel" class="diagram-viewer__body">
    <div if.bind="xmlIsNotSelected && !noCorrelationsFound">
      <img src="src/resources/images/gears.svg" class="diagram-viewer__loading-spinner">
      <h3 class="diagram-viewer__empty-message">Loading Correlations...</h3>
    </div>
    <h3 if.bind="noCorrelationsFound" class="diagram-viewer__empty-message">No correlations found.</h3>
  </div>
</template>
