<template>
  <require from="./log-viewer.css"></require>
  <div class="log-viewer">
    <h3 if.bind="log.length === 0" class="log-table__empty-message">No logs for this correlation available.</h3>
    <table else class="table table-striped table-hover log-table">
      <thead>
        <tr class="log-table__headlines">
          <th class="log-table__headline log-table__time-column" click.delegate="changeSortProperty(logSortProperty.Time)">
            Time <i if.bind="sortSettings.sortProperty === logSortProperty.Time" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
          <th class="log-table__headline log-table__flow-node-id-column" click.delegate="changeSortProperty(logSortProperty.FlowNodeId)">
            FlowNodeId <i if.bind="sortSettings.sortProperty === logSortProperty.FlowNodeId" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
          <th class="log-table__headline log-table__flow-node-instance-id-column" click.delegate="changeSortProperty(logSortProperty.FlowNodeInstanceId)">
            FlowNodeInstanceId <i if.bind="sortSettings.sortProperty === logSortProperty.FlowNodeInstanceId" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
          <th class="log-table__headline log-table__log-level-column" click.delegate="changeSortProperty(logSortProperty.LogLevel)">
            Level <i if.bind="sortSettings.sortProperty === logSortProperty.LogLevel" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
          <th class="log-table__headline log-table__message-column" click.delegate="changeSortProperty(logSortProperty.Message)">
            Message <i if.bind="sortSettings.sortProperty === logSortProperty.Message" class.bind="sortSettings.ascending ? 'fas fa-caret-up' : ' fas fa-caret-down'"></i>
          </th>
        </tr>
      </thead class="log-table__header">
      <tbody class="log-table__body">
        <tr class="log-table__table-row" repeat.for="logEntry of sortedLog">
          <td class="log-table__table-entry log-table__time-column">${getDateStringFromTimestamp(logEntry.timeStamp)}</td>
          <td class="log-table__table-entry log-table__flow-node-id-column">${logEntry.flowNodeId || '-'}</td>
          <td class="log-table__table-entry log-table__flow-node-instance-id-column">${logEntry.flowNodeInstanceId || '-'}</td>
          <td class="log-table__table-entry log-table__log-level-column">${logEntry.logLevel.toUpperCase()}</td>
          <td class="log-table__table-entry log-table__message-column">${logEntry.message}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
