.log-viewer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.log-table{
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  user-select: text;
}

.log-table__headlines {
  display: flex;
  width: 100%;
}

.log-table__headline {
  padding: 8px;
  overflow: hidden;
  border-bottom: 2px solid #ccc !important;
  font-size: 14px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.log-table__body {
  display: block;
  height: 100%;
  overflow: auto;
}

.log-table__table-row {
  display: flex;
  width: 100%;
}

.log-table__table-entry {
  padding: 8px;
  overflow: hidden;
  border-top: none !important;
  border-bottom: 1px solid #ccc;
  text-overflow: ellipsis;
}

.log-table__selected-entry {
  background-color: #e6e6e6 !important;
}

.log-table__time-column {
  width: 150px;
}
.log-table__log-level-column {
  width: 100px;
}

.log-table__flow-node-id-column {
  width: 150px;
}

.log-table__flow-node-instance-id-column {
  width: 200px;
}

.log-table__message-column {
  width: calc(100% - 600px);
}

.log-table__empty-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
