.diff-view {
  height: 100%;
  width: 100%;
  background: white;
  bottom: 0;
}

.left-diff-view {
  position: relative;
  float: left;
  width: 50%;
  height: 33%;
}

.right-diff-view {
  position: relative;
  width: 50%;
  height: 33%;
  overflow: hidden;
}

.lower-diff-view {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 67%;
}

.left-diff-view__canvasModel {
  width: 100%;
  height: 100%;
  border-bottom: 4px dashed #ccc;
}

.right-diff-view__canvasModel {
  width: 100%;
  height: 100%;
  border-left: 4px dashed #ccc;
  border-bottom: 4px dashed #ccc;
}

.lower-diff-view__canvasModel {
  width: 100%;
  height: 100%;
  flex: 2;
}

.diff-canvas-title {
  position: absolute;
  bottom: 5px;
  left: 10px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  font-size: 20px;
  max-width: calc(100% - 80px);
  white-space: nowrap;
}

.diff-button-hint {
  position: fixed;
  bottom: 22px;
  left: calc(50% - 115px);
  display: inline-flex;
  width: 230px;
}

.diff-button-hint__text {
  width: 156px;
  font-weight: 500;
  text-align: center;
}

.diff-legend {
  position: absolute;
  bottom: 35px;
  left: 10px;
  max-width: 140px;
  background: whitesmoke;
  user-select: none;
}

.diff-legend-entry {
  display: block;
  margin: 0 10px;
}

.diff-legend-entry-first {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
}

.diff-legend-entry-last {
  margin-bottom: 10px;
}

.diff-change-list {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 99%;
  min-width: calc(44% + 2px);
  background: white;
  border-left: 4px dashed #ccc;
  z-index: 1;
}

.no-change-message {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.change-list-table {
  width: 100%;
  margin: 10px;
}

.change-list-table__entry {
  height: 35px;
  padding-right: 10px;
  max-width: 164px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.change-list-table-wrapper {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.diff-summary {
  width: 100%;
  min-height: 18px;
  text-align: center;
  border-top: 4px dashed #ccc;
}

.diff-summary__change-type {
  display: inline-block;
  position: relative;
}

.diff-mode {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.badge-red {
  background-color: #E53935;
  color: white;
}

.badge-orange {
  background-color: #FB8C00;
  color: white;
}

.badge-green {
  background-color: #43A047;
  color: white;
}

.badge-purple {
  background-color: #8E24AA;
  color: white;
}
