.validation_error {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  z-index: 0;
  opacity: 1;
  color: red;
  font-size: 16px;
}

.panel--general {
  flex: 1 100%;
  margin-top: 0;
}

.docs {
  min-height: 55px;
  max-height: 400px;
}

.props-input-textarea {
  width: 100%;
  height: 25px;
  max-height: 200px;
  min-height: 25px;
  padding-bottom: 5px;
  margin-top: 5px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #e9e9e9;
  font-weight: 400;
  color: #5c5c5c;
  text-overflow: ellipsis;
}

.props-input-textarea:disabled {
  pointer-events: none;
  opacity: 0.5;
}


.props-table-docs {
  width: 100%;
}

.props-table-docs td {
  width: 100%;
  padding: 5px 0;
  color: #a5a5a5;
}

.docs-enlarge-link {
  display: block;
  color: #007bff !important;
}

.docs-enlarge-text:hover {
  text-decoration: underline;
}

.hint-unsupported-bpmn-element {
  display: inline-block;
  margin: 0 10px;
  padding: 0 2px;
  font-size: 12px;

  background: #FFEB3B;
  border-bottom: 1px solid #FDD835;
}
