.script-task-enlarge-link {
  display: block;
  color: #007bff !important;
}

.script-task-enlarge-text:hover {
  text-decoration: underline;
}

.script-task {
  min-height: 55px;
  max-height: 400px;
}
