diagram-detail {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: stretch;
}

bpmn-io {
  display: flex;
  flex: 1;
  height: 100%;
}

/*
 * Save Modal Dialog
*/

.save-modal-dialog {
  position: relative;
  top: 20%;
  width: 400px;
}

.save-modal-header {
  text-align: center
}

.show-modal {
  display: block;
}

.custom-button {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 4px;
}

/*
 * Select Start Event Modal
 */

.select-start-event-modal__dialog {
  position: relative;
  top: 20%;
  width: 400px;
}

.input-field:focus {
  border-color: #e6e6e6 !important;
  box-shadow: none;
}

.wrong-input {
  border-color: red !important;
}

.wrong-input:focus {
  border-color: red !important;
  box-shadow: none;
}

.correlation-id-error__container {
  padding: 2px;
  padding-left: 25px;
  margin-top: -3px;
  margin-right: 0px;
  border: 1px solid red;
  border-top: none;
  color: red;
}

.error-list__container {
  list-style-type: disc;
}

